server {
  server_name {{ url }};
  root {{ app_root_path }};
  index index.html;

  add_header Content-Security-Policy "form-action 'self'; base-uri 'self'; frame-ancestors 'none'; default-src 'none'; script-src 'self' 'sha256-O6piNkhLv4BI/Oje+MccCmgUSrS1sIp+CMaOsvD/VWU=' https://d3js.org https://*.googleapis.com; img-src 'self' https://*.ggpht.com https://*.googleapis.com https://*.gstatic.com data; style-src 'self' https://*.googleapis.com 'unsafe-inline'; font-src 'self' https://*.gstatic.com data; frame-src 'self'; connect-src 'self' https://apis.google.com; object-src 'none'";
  add_header X-Frame-Options: SAMEORIGIN always;
  add_header X-XSS-Protection "; 1; mode=block;";
  add_header X-Content-Type-Options nosniff;
  add_header Strict-Transport-Security "; max-age=31536000; includeSubDomains; preload;";

  listen 80;
}
