<div class="wrapper">
	<div class="box a"><span class="num">{{ (number.stdout|int) + 1}}</span></div>
	<div class="box b"></div>
	<div class="box c">{{ friendly_date.stdout }}</div>
  </div>
  <div class="entry">
	<div class="copy">
	  <h2>Edit title <em>(Edit language)</em></h2>
	  <p>
		Edit text
	  </p>
	</div>
	<pre><code class="language-javascript">
    console.log("Edit code")
  </code>
  </pre>
  </div>
<div class="divider"></div>